body{
    background-image: linear-gradient(to bottom right, rgb(29, 40, 131), rgb(67, 61, 177));
    width: 300px;
    height: 400px;
    font-family: Serif ;
}

.links{
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 50px;
	padding-bottom: 40px;    
	color:  black;
	font-size: 24px;
	text-decoration: none;
}

.main_body{
    align-items: center;
    justify-content: flex-end;
}

.nav-links{
    margin: 13px;
}

.nav-items {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
}

.nav-items span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.nav-items span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.nav-items:hover span {
    padding-right: 25px;
}

.nav-items:hover span:after {
    opacity: 1;
    right: 0;
}

.marginEffect {
	width:  100%;
    display: inline-block;
	justify-content: space-between;
}
.done{
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
}

.center{
    align-items: center;
}